html, body {
    background: #265a69;
    color: white ;
    font-family: Helvetica, Verdana, sans-serif;
}

h1, h2, h3, h4  {
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: -2px;
}

h4 {
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.title, .slogan {
    display: none;
}


#header a:link, #footer a:link {
    text-decoration: none;
    color: #ffffff;
}

#header a:hover, #footer a:hover, .highlight {
    color: #6e97a4;
}

#header a:visited, #footer a:visited {
    color: #6e97a4;
}

#social {
    margin: 0;
    height: 100px;
}

#soundcloud {
    margin: 0 auto 0 150;
}

#image {
    background: url('../images/logo-750.png') no-repeat;
    height: 750px;
}

@media only screen and (max-width: 959px) {
    #image {
        background: url('../images/logo-750.png') no-repeat;
        height: 750px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #image {
        background: url('../images/logo-460.png') no-repeat;
        height: 460px;
    }
}

@media only screen and (max-width: 479px) {
    #image {
        background: url('../images/logo-300.png') no-repeat;
        height: 300px;
    }

}
